.ui-li-desc {
    white-space: normal;
}
.ui-li .ui-btn-text  a.ui-link-inherit {
    white-space: normal;
}
.ui-header .ui-title, .ui-footer .ui-title {
    white-space: normal;
    margin: 0.6em 2em;
}

.ui-btn-inner { 
    white-space: normal;
}

.ui-content {
    padding: 1em 1em 50px;
	background: white;
}

html, body, .ui-page.ui-body-a {
	background: #4d4d4d;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #454545 /*{a-bar-background-start}*/), to( #545454 /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #454545 /*{a-bar-background-start}*/, #545454 /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #454545 /*{a-bar-background-start}*/, #545454 /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #454545 /*{a-bar-background-start}*/, #545454 /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #454545 /*{a-bar-background-start}*/, #545454 /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #454545 /*{a-bar-background-start}*/, #545454 /*{a-bar-background-end}*/);
}